.row
    .col-xs-12.col-sm-offset-3.col-sm-6.col-md-offset-4.col-md-4.text-center
        h2 Vennligst skann kortet ditt
        
        form.form-group(ng-submit='', name='activateUserForm')

            .form-group
                label Kortnummer
                input.form-control(type='text', name='cardkey', placeholder='Skann kortet ditt')
        
            button#submit.btn.btn-default.btn-lg(type='submit') Aktiver
